<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>好き Timeline 编辑器</title>
    <link rel="shortcut icon" href="/static/icons/LOVE.png">
    <link rel="icon" href="/static/icons/LOVE.png">
    <link rel="stylesheet" type="text/css" media="all" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="all" href="/static/css/control.css">
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="upload_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        X
                    </button>
                    <h4 class="modal-title">上传我们的回忆</h4>
                </div>
                <div class="container" style="height: 50px;">
                    <div class="col-lg-3">
                        <input id="file" class="input-lg" type="file" name="选择回忆上传"/>
                    </div>
                    <div class="col-lg-1">

                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-md btn-info" onclick="upload_file()" data-dismiss="modal">上传回忆</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="edit_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="modal_title"></h4>
                </div>
                <div class="modal-body">
                    <img alt="加载图片失败" src="" id="modal_image" width="50%" height="50%">
                    <br>
                    <form>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon-title">标题</span>
                            <input id="input_title" type="text" class="form-control"
                                   aria-describedby="basic-addon3">
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon-comment">注释</span>
                            <input id="input_comment" type="text" class="form-control"
                                   aria-describedby="basic-addon3">
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon-tick">时间</span>
                            <input id="input_tick" type="text" class="form-control"
                                   aria-describedby="basic-addon3">
                        </div>

                    </form>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal" id="modal_commit">提交修改
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

</head>
<body>
<div class="container">
    <header class="page-header">
        <h1>图片编辑器</h1>
        <h1>
            <small>好き Timeline</small>
            <button class="btn btn-primary" onclick="show_upload()">+</button>
        </h1>


        <div class="form-group">

            <input type="text"
                   name="keywords"
                   autofocus=""
                   id="text-keywords"
                   required=""
                   placeholder="输入关键词(使用空格分开)"
                   class="form-control"
            >
        </div>

    </header>

    <div class="container-fluid" id="main-container"></div>

    <footer class="panel-footer">
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-lg btn-info" style="width:100px;" onclick="last_page()">
                <span class="glyphicon glyphicon-menu-left"></span>
            </button>
            <button type="button" class="btn btn-lg btn-info" style="width:100px;" onclick="goto_page()">
                <span class="glyphicon glyphicon-forward"></span>
            </button>
            <button type="button" class="btn btn-lg btn-info" style="width:100px;" onclick="next_page()">
                <span class="glyphicon glyphicon-menu-right"></span>
            </button>
        </div>
    </footer>

</div>

<script type="text/javascript">
    const page_size = 10;
    const current_page = parseInt("{{ current_page }}");
    const keywords = "{{ keywords }}";
    const current_offset = current_page * page_size;


    $("#text-keywords").val("{{ keywords }}");
    document.getElementById("text-keywords").addEventListener("keyup", function (event) {
        event.preventDefault();
        if (event.keyCode === 13) {
            reload_page(0, $("#text-keywords").val())
        }
    });

    /**
     * 重新加载页面
     * @param n 页面号
     * @param q 关键词
     */
    function reload_page(n = current_page, q = keywords) {
        window.location.href = `/editor/?n=${n}&q=${q}`;
    }

    /**
     * 显示上传页面
     */
    function show_upload() {
        const modal_window = $("#upload_modal");
        const frm_width = $(document).width() - 10;
        modal_window.attr({
            "style": "z-index: 9999;",
            "width": frm_width + "px"
        });
        modal_window.modal({
            keyboard: false
        });
    }

    /**
     * 上传文件
     */
    function upload_file() {
        const formData = new FormData();
        formData.append('file', $('#file')[0].files[0]);
        $.ajax({
            url: '/image/upload',
            type: 'POST',
            cache: false,
            data: formData,
            processData: false,
            contentType: false
        }).done(function (res) {
            modify_image_info(res.image_id);
            console.log("File upload triggered");
        }).fail(function (res) {
            console.log("File upload filed.");
        });
    }

    /**
     * 删除照片
     * @param id
     * @param title
     */
    function delete_image(id, title) {
        if (confirm(`您确定要删除这个回忆（${title}）吗？`)) {
            console.log("delete image " + id);
            $.post(
                "/image/delete", {
                    "id": id
                }, function (data) {
                    if (data.status !== "success") {
                        alert("删除失败！")
                    } else {
                        alert("删除成功！")
                        reload_page();
                    }
                }
            );

        }
    }


    /**
     * 跳转到上一页
     */
    function last_page() {
        if (current_page <= 0) {
            alert("这已经是第一页了！")
        } else {
            reload_page(current_page - 1);
        }
    }

    /**
     * 跳转到下一页
     */
    function next_page() {
        if ($("#main-container")[0].children.length >= page_size) {
            reload_page(current_page + 1);
        }
    }

    /**
     * 跳转到某一页
     */
    function goto_page() {
        const page_id = parseInt(prompt("输入要跳转的页码（1～N）")) - 1;
        if (page_id >= 0) {
            reload_page(page_id);
        }
    }

    /**
     * 修改某张照片的信息
     * @param id 照片ID
     */
    function modify_image_info(id) {
        $.getJSON(
            "/images/get/info/",
            {
                "id": id
            },
            function (resp) {
                const title = resp["data"]["title"];
                const comment = resp["data"]["comment"];
                const tick = resp["data"]["tick"];
                //显示相应的模态
                $("#modal_title").text("修改");
                $("#modal_image").attr("src", `/images/get/thumbnail/?id=${id}&resize=320x240`);
                const modal_window = $("#edit_modal");
                const frm_width = $(document).width() - 10;
                $("#input_title").val(title);
                $("#input_comment").val(comment);
                $("#input_tick").val(tick);
                //模态窗口的点击事件
                $("#modal_commit").click(
                    function () {
                        const input_title = $("#input_title").val();
                        const input_comment = $("#input_comment").val();
                        const input_tick = $("#input_tick").val();
                        $.post(
                            "/image/modify", {
                                "id": id,
                                "title": input_title,
                                "comment": input_comment,
                                "tick": input_tick
                            }, function (data) {
                                if (data["status"] === "success") {
                                    console.log("提交成功");
                                    reload_page()
                                } else {
                                    console.error(js_data);
                                    alert("修改失败");
                                }
                            }
                        );
                    }
                );
                modal_window.attr({
                    "style": "z-index: 9999;",
                    "width": frm_width + "px"
                });
                modal_window.modal({
                    keyboard: false
                });
            }
        );
    }

    /**
     * 加载数据
     */
    function load_data() {
        $.getJSON("/images/query",
            {
                offset: current_offset,
                n: page_size,
                keywords: keywords,
                "sort": "id desc"
            },
            function (data) {
                const main_container = $("#main-container");

                main_container.empty();
                data.forEach(image_info => {
                    const id = image_info["id"];
                    const btn_modify_id = `edit_image_${id}`;
                    const btn_delete_id = `delete_image_${id}`;
                    const btn_rotate_id = `rotate_image_${id}`;
                    const title = image_info["title"];
                    const comment = image_info["comment"];
                    const tick = image_info["tick"];
                    const thumb_image = `/images/get/thumbnail/?id=${id}&resize=320x240`;
                    main_container.append(
                        $("<div></div>").addClass(
                            "panel panel-info"
                        ).append(
                            $(`
                        <div class="panel-heading">
                        ${title}
                        </div>
                        <div class="panel-body">
                            <div class="media">
                                <div class="media-left media-middle thumbs_block">
                                    <img class="media-object" src="${thumb_image}" alt="img"
                                         style="max-width: 150px" id="${btn_rotate_id}"/>
                                </div>
                                <div class="media-body">
                                    <p>${comment}</p>
                                    <p>${tick}</p>
                                    <button class="btn btn-default" id="${btn_modify_id}">修改</button>
                                    <button class="btn btn-default" id="${btn_delete_id}">删除</button>
                                </div>
                            </div>
                        </div>
                        `)
                        )
                    );
                    $("#" + btn_modify_id).click(function () {
                        modify_image_info(id, title, comment, tick);
                    });
                    $("#" + btn_delete_id).click(function () {
                        delete_image(id, title);
                    });
                    $("#" + btn_rotate_id).click(()=>{
                        if (confirm("确定逆时针旋转90度？")){
                            $.post(
                                "/image/rotate/",{
                                    "id":id
                                },()=>{
                                    $("#" + btn_rotate_id).attr(
                                        {
                                            "src":thumb_image + "&rand=" + Math.random()
                                        }
                                    )
                                }
                            )
                        }
                    })

                })
            });
    }

    load_data();

</script>

</body>
</html>