<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>好き Timeline</title>

    <link rel="shortcut icon" href="../static/icons/LOVE.png">
    <link rel="icon" href="../static/icons/LOVE.png">


    <link rel="stylesheet" type="text/css" media="all" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/timeline.css">
    <script type="text/javascript" src="../static/js/jquery.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="modal_title"></h4>
                </div>
                <div class="modal-body">
                    <img alt="加载图片失败" src="" id="modal_image" width="100%" height="100%">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

<body>
<div class="container">
    <header class="page-header">
        <h1>我们的回忆时间流</h1>
        <h1>
            <small>好き Timeline</small>
        </h1>
    </header>

    <div class="timeline-container">
    </div>


</div>


<script type="text/javascript">
    const _timeline_row_ = $("<div></div>").addClass("row");

    let current_offset = 0;
    let page_size = 10;

    function load_data() {
        $.getJSON("/images/query",
            {
                offset: current_offset,
                n: page_size
            },
            function (data) {
                if (data.length < 1) {
                    return;
                } else {
                    current_offset += data.length;
                }

                $.each(data, function (i, tl) {
                    const _timeline_ = $("<div></div>").addClass("timeline");
                    _timeline_row_.append(_timeline_);

                    const _time_block_ = $("<div></div>").addClass("timeline-block");
                    const _time_content_ = $("<div></div>").addClass("popover timeline-content");
                    _time_block_.append(_time_content_);
                    /**
                     * 设置显示内容
                     */

                    const _popover_title_ = $("<h3></h3>").addClass("popover-title").text(tl["title"]);
                    const _popover_footer_ = $("<div></div>").addClass("popover-footer").text(tl["tick"]);
                    const _popover_content_ = $("<div></div>").addClass("popover-content");
                    _time_content_.append($("<div></div>").addClass("arrow"))
                        .append(_popover_title_)
                        .append(_popover_content_)
                        .append(_popover_footer_);
                    /**
                     * 主页展示内容布局
                     */

                    // 获取相应的图片的逻辑
                    const _img = $("<img/>").attr("src", "/static/image/" + tl["id"] + "_thumbnail.jpg").css({
                        "margin": "5px 10px",
                        "width": "95%",
                        "height": "95%"
                    });

                    _img.click(function () {
                        //显示相应的模态
                        $("#modal_title").text(tl["title"]);
                        $("#modal_image").attr("src", "/static/image/" + tl["id"] + ".jpg");
                        const modal_window = $("#myModal");
                        const frm_width = $(document).width() - 10;
                        modal_window.attr({
                            "style": "z-index: 9999;",
                            "width": frm_width + "px"
                        });
                        modal_window.modal({
                            keyboard: true
                        });
                    });

                    const _img_container_ = $("<div></div>")
                        .append(_img);
                    const _text_container_ = $("<p></p>").css({
                        "margin-left": "10px",
                        "margin-top": "5px",
                        "font-size": "12px"
                    }).append(
                        tl["comment"]
                    );
                    _popover_content_.append(_text_container_).append(_img_container_);


                    $(_timeline_).append(_time_block_)
                        .append($("<div></div>").addClass("timeline-img"))
                        .append($("<div></div>").addClass("timeline-line"))
                        .append($("<div></div>").addClass("clearfix"));
                    if ($(_timeline_).prev().find(".timeline-block").hasClass("timeline-block-odd")) {
                        $(_timeline_).find(".timeline-block").addClass("timeline-block-even");
                        $(_timeline_).find(".timeline-block-even>.timeline-content").addClass("right").css({"left": "150px"});
                    } else {
                        $(_timeline_).find(".timeline-block").addClass("timeline-block-odd");
                        $(_timeline_).find(".timeline-block-odd>.timeline-content").addClass("left").css({"left": "-150px"});
                    }
                    $(_timeline_).find(".timeline-block>.timeline-content").animate({
                        left: "0px"
                    }, 1000);
                });

                if ($(window).height() >= document.documentElement.scrollHeight) {
                    //没有出现滚动条,继续加载下一页
                    load_data();
                }
            });
    }

    $(function () {

        $(".timeline-container").append(_timeline_row_);
        load_data();
        //设置滚动事件
        $(window).on('scroll', function () {
            var scrollTop = $(this).scrollTop();
            var scrollHeight = $(document).height();
            var windowHeight = $(this).height();
            if (scrollTop + windowHeight >= scrollHeight) {
                //此处是滚动条到底部时候触发的事件，在这里写要加载的数据，或者是拉动滚动条的操作
                load_data();
            }
        });
    });
</script>

</body>
</html>